:root {
  --lima: #f1f1f1;
  --verde-agua: #2dd1ac;
  --verde-escuro: #5aaaa0;
  --verde-claro: #dcf6f1;

  --gray: #39414f;

  --light-gray: #606a7d;
  --cinza-atemporal: #dbdbdb;
  --cinza-confianca: #373741;
  --cinza-seguranca: #424451;
}
